{% extends "base.html" %}

{% block content %}
<h1>Sube tu video para cortarlo en segmentos</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="video" accept="video/*" required><br><br>
    <label for="duration">Duración del segmento (segundos):</label>
    <input type="number" name="duration" id="duration" min="1" required><br><br>
    <label for="inicio">Video de inicio (opcional):</label>
    <input type="file" name="inicio" accept="video/*"><br><br>
    <label for="final">Video de final (opcional):</label>
    <input type="file" name="final" accept="video/*"><br><br>
    <button type="submit">Subir Video</button>
</form>

{% if segments %}
    <h2>Segmentos de Video</h2>
    <ul id="segment-list">
        {% for segment in segments %}
            <li>
                {{ segment }}
                <a href="/download/{{ segment }}">Descargar Manualmente</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
